@model IEnumerable<Sistema.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h2>Categoría Cursos</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Nueva Categoría</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="index" asp-route-sortOrder="@ViewData["nombreSortParm"]">@Html.DisplayNameFor(model => model.Nombre)</a>
            </th>
            <th>
                <a asp-action="index" asp-route-sortOrder="ViewData["DescripcionSortParm"]">@Html.DisplayNameFor(model => model.Descripcion)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
